<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Підтвердження Email</title>
</head>

<body style="margin: 0; padding: 0; background-color: rgb(229, 231, 235); overflow: hidden; ">
    <div style="width: 596px; margin: 0 auto; margin-bottom: 25px; background: white; border-radius: 20px; -webkit-box-shadow: 0px 12px 35px 3px rgba(34, 60, 80, 0.11);
    -moz-box-shadow: 0px 12px 35px 3px rgba(34, 60, 80, 0.11);
    box-shadow: 0px 12px 35px 3px rgba(34, 60, 80, 0.11);">
        <div style="background: #1D0F40; color: white; border-radius: 20px 20px 0 0; margin: 0; padding: 0;">
            <table width="100%" cellspacing="0" cellpadding="0" border="0" style="border-spacing: 0; margin: 0; padding: 0;">
              <tr>
                <td align="center" style="padding: 40px 20px 20px;">
                  <img src="https://blobstorage226122007.blob.core.windows.net/blob-storage-container/dark_logo.png" alt="Logo" style="width: 100px; display: block;">
                </td>
              </tr>
              <tr>
                <td align="left" style="padding: 0;">
                  <img src="https://blobstorage226122007.blob.core.windows.net/blob-storage-container/wave.png" alt="Wave" style="display: block;">
                </td>
              </tr>
            </table>
          </div>          
        <div style="padding: 40px;">
            <h2
                style="font-family: Arial; font-weight: 700; font-size: 32px; line-height: 43.65px; letter-spacing: -0.5%; text-align: center; margin-top: 0; margin-bottom: 40px;">
                Підтвердження реєстрації</h2>
            <p
                style="font-family: Segoe UI; font-weight: 400; font-size: 15px; line-height: 18.83px; letter-spacing: -0.5%; margin-bottom: 2px; margin-top: 0;">
                Привіт {{username}},</p>
            <p
                style="font-family: Segoe UI; font-weight: 400; font-size: 15px; line-height: 18.83px; letter-spacing: -0.5%; margin-bottom: 2px; margin-top: 0;">
                Це Ваш тимчасовий код:</p>
            <div
                style="font-family: Arial; font-weight: 700; font-size: 32px; line-height: 43.65px; text-align: center; margin-top: 40px; margin-bottom: 40px; letter-spacing: 100%;">
                {{formattedCode}}</div>
            <p
                style="font-family: Segoe UI; font-weight: 400; font-size: 15px; line-height: 18.83px; text-align: center;">
                Введіть цей код, що б підвердити реєстрацію акаунта <strong>TUTOCT</strong></p>
        </div>
        <div style="text-align: center; padding: 20px;">
            <div>
                <img style="width: 24px; margin: 0 10px;"
                    src="https://blobstorage226122007.blob.core.windows.net/blob-storage-container/facebook.png"
                    alt="Facebook">
                <img style="width: 24px; margin: 0 10px;"
                    src="https://blobstorage226122007.blob.core.windows.net/blob-storage-container/instagram.png"
                    alt="Instagram">
                <img style="width: 24px; margin: 0 10px;"
                    src="https://blobstorage226122007.blob.core.windows.net/blob-storage-container/telegram.png"
                    alt="Twitter">
            </div>
            <p
                style="font-family: Segoe UI; font-weight: 400; font-size: 12px; line-height: 15.06px; letter-spacing: -0.5%; text-align: center; color: #6d6a90;">
                Занурюйся в потік новин разом із нами!</p>
        </div>
    </div>

</body>

</html>